<project>
   <modelVersion>4.0.0</modelVersion>
   <groupId>Code.challenge</groupId>
   <artifactId>Extract-app</artifactId>
   <version>1</version>
    <resources>
      <resource>
        <directory>src/main/resources</directory>
        <includes>
          <include>setup.py</include>
          <include>MANIFEST.in</include>
          <include>requirements.txt</include>
        </includes>
        <targetPath>${project.build.directory}/generated-sources/python</targetPath>
        <filtering>true</filtering>
      </resource>
</project>
